# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
AutoTest
OpenStarkWEB/node_modules
OpenStarkWEB/functions
OpenStarkWEB/src/utils/request-temp.js
OpenStarkWEB/_roadhog-api-doc
OpenStarkAPI/static
OpenStarkAPI/logs
OpenStarkWEB/coverage
OpenStarkWEB/dist
.svn
.vs
.vscode
.history
*.log
.idea
.DS_Store
.umi
.umi-production
__pycache__
*bak
screenshot
OpenStarkWEB/.temp/ant-design-pro.less
OpenStarkWEB/npm-debug.log*
OpenStarkWEB/yarn-error.log
OpenStarkWEB/yarn.lock
OpenStarkWEB/package-lock.json
OpenStarkWEB/jsconfig.json
OpenStarkDatabase
OpenStarkJenkins