setuptools
wheel
tornado
munch
tormysql
pymysql
pycryptodome
tornado_smtp
exchangelib
phantomas
win_unicode_console
paramiko
openpyxl
uvloop
python-jenkins
gitpython
pyecharts
snapshot-phantomjs 
https://github.com/BSTester/robotframework-QTLibrary/archive/master.zip
https://github.com/BSTester/mysql-utilities/archive/master.zip